body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
  color: #171717;
  background-color: #fcfcfc;
  width: 100%;
  max-width: 1580px;
}

.cursive-text {
  font-family: "Pacifico", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

label {
  color: #171717;
  padding: 0.2rem 0 0.4rem 0;
}

input, textarea {
  color: #868e96;
  padding: 0.4rem 0 0.4rem 0.4rem;
}

input,
textarea {
  border: none;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  cursor: pointer;
}
input:hover, input:focus,
textarea:hover,
textarea:focus {
  border: 2px solid #171717;
}

input,
label,
textarea {
  outline: none;
  font-family: inherit;
  font-size: clamp(0.8rem, 4vw, 1.6rem);
}

.highlighter-prim,
.highlighter-accent,
.highlighter-third,
.highlighter-contrast,
.highlighter-second,
.highlighter-black,
.highlighter-white {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.highlighter-prim::before,
.highlighter-accent::before,
.highlighter-third::before,
.highlighter-contrast::before,
.highlighter-second::before,
.highlighter-black::before,
.highlighter-white::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 100%;
  bottom: 0.4rem;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  transform: rotate(-1deg);
}

.highlighter-prim::before {
  background-color: #8ecae6;
}

.highlighter-second::before {
  background-color: #219ebc;
}

.highlighter-accent::before {
  background-color: #ffb703;
}

.highlighter-contrast::before {
  background-color: #fb8500;
}

.highlighter-third::before {
  background-color: #023047;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: clamp(2.2rem, 4vw, 3.2rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
}

h4 {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
}

h5 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}

p,
svg {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}

.button-container {
  display: flex;
  gap: 0.6rem;
  width: 75%;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.button-container button {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.8rem;
  width: 100%;
  cursor: pointer;
  font-family: "Jost", sans-serif;
  transition: all ease-in-out 0.3s;
}
.button-container button:hover, .button-container button:focus {
  transform: translateY(0.6rem);
}
.button-container button:first-child {
  color: #fcfcfc;
  background-color: #171717;
}
.button-container button:first-child:hover, .button-container button:first-child:focus {
  color: #ffb703;
}
.button-container button:nth-child(2) {
  color: #171717;
  background-color: #ffb703;
}
.button-container button:nth-child(2):hover, .button-container button:nth-child(2):focus {
  color: #fcfcfc;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 999;
}

@media (max-width: 479px) {
  .home header,
  .about header,
  .projects header,
  .contact header {
    height: 100svh;
    position: relative;
  }
  .home header .flex-column,
  .about header .flex-column,
  .projects header .flex-column,
  .contact header .flex-column {
    height: 45%;
    justify-content: center;
    align-items: center;
  }
  .home header .socials,
  .about header .socials,
  .projects header .socials,
  .contact header .socials {
    position: relative;
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  .home header .socials::before,
  .about header .socials::before,
  .projects header .socials::before,
  .contact header .socials::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    right: 0;
  }
  .home header .socials::after,
  .about header .socials::after,
  .projects header .socials::after,
  .contact header .socials::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 20%;
    left: 0;
  }
  .home header .socials .border,
  .about header .socials .border,
  .projects header .socials .border,
  .contact header .socials .border {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #fcfcfc;
    width: 100%;
    height: 100%;
    border-radius: 0 4rem 0 4rem;
    z-index: 5;
  }
  .home header .flex-column:first-child,
  .about header .flex-column:first-child,
  .projects header .flex-column:first-child,
  .contact header .flex-column:first-child {
    border-radius: 0 0 0 6rem;
  }
  .home header .flex-column:first-child img,
  .about header .flex-column:first-child img,
  .projects header .flex-column:first-child img,
  .contact header .flex-column:first-child img {
    width: 75%;
  }
  .home header .flex-column:last-child,
  .about header .flex-column:last-child,
  .projects header .flex-column:last-child,
  .contact header .flex-column:last-child {
    border-radius: 0 6rem 0 0;
    gap: 1rem;
  }
  .home header .flex-column:last-child h5,
  .about header .flex-column:last-child h5,
  .projects header .flex-column:last-child h5,
  .contact header .flex-column:last-child h5 {
    width: 90%;
    color: #171717;
    z-index: 5;
    font-size: 1rem;
    font-weight: 600;
  }
  .home header .flex-column:last-child h5 .white,
  .about header .flex-column:last-child h5 .white,
  .projects header .flex-column:last-child h5 .white,
  .contact header .flex-column:last-child h5 .white {
    color: #fcfcfc;
  }
  .home header .flex-column:last-child h5 svg,
  .about header .flex-column:last-child h5 svg,
  .projects header .flex-column:last-child h5 svg,
  .contact header .flex-column:last-child h5 svg {
    padding: 0 0 0 1rem;
  }
  .home header .flex-column:last-child h5:nth-of-type(2),
  .about header .flex-column:last-child h5:nth-of-type(2),
  .projects header .flex-column:last-child h5:nth-of-type(2),
  .contact header .flex-column:last-child h5:nth-of-type(2) {
    text-align: right;
  }
}
@media (min-width: 480px) {
  .home,
  .about,
  .projects,
  .contact {
    height: 100dvh;
    background-color: #ffb703;
    position: relative;
  }
  .home::before,
  .about::before,
  .projects::before,
  .contact::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #8ecae6;
    -webkit-clip-path: circle(61.1% at 96% 51%);
            clip-path: circle(61.1% at 96% 51%);
  }
  .home header,
  .about header,
  .projects header,
  .contact header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
  }
  .home header .flex-column,
  .about header .flex-column,
  .projects header .flex-column,
  .contact header .flex-column {
    width: 50%;
  }
  .home header .flex-column h2,
  .home header .flex-column h4,
  .home header .flex-column h5,
  .home header .flex-column svg,
  .home header .flex-column button,
  .about header .flex-column h2,
  .about header .flex-column h4,
  .about header .flex-column h5,
  .about header .flex-column svg,
  .about header .flex-column button,
  .projects header .flex-column h2,
  .projects header .flex-column h4,
  .projects header .flex-column h5,
  .projects header .flex-column svg,
  .projects header .flex-column button,
  .contact header .flex-column h2,
  .contact header .flex-column h4,
  .contact header .flex-column h5,
  .contact header .flex-column svg,
  .contact header .flex-column button {
    animation: fadeInUp;
    animation-duration: 1s;
  }
  .home header .flex-column svg,
  .about header .flex-column svg,
  .projects header .flex-column svg,
  .contact header .flex-column svg {
    padding: 0 0 0 1rem;
  }
  .home header .flex-column:nth-child(3),
  .about header .flex-column:nth-child(3),
  .projects header .flex-column:nth-child(3),
  .contact header .flex-column:nth-child(3) {
    align-items: center;
    justify-content: center;
  }
  .home header .flex-column:nth-child(3) img,
  .about header .flex-column:nth-child(3) img,
  .projects header .flex-column:nth-child(3) img,
  .contact header .flex-column:nth-child(3) img {
    width: 75%;
    animation: fadeIn;
    animation-duration: 1s;
  }
  .home header .socials,
  .about header .socials,
  .projects header .socials,
  .contact header .socials {
    display: none;
  }
  .home header .socials .flex-column,
  .about header .socials .flex-column,
  .projects header .socials .flex-column,
  .contact header .socials .flex-column {
    height: 100%;
  }
  .home header .flex-column:first-child,
  .about header .flex-column:first-child,
  .projects header .flex-column:first-child,
  .contact header .flex-column:first-child {
    background-color: #ffb703;
  }
  .home header .flex-column:first-child .button-container,
  .about header .flex-column:first-child .button-container,
  .projects header .flex-column:first-child .button-container,
  .contact header .flex-column:first-child .button-container {
    width: 50%;
  }
  .home header .flex-column:first-child .button-container button,
  .about header .flex-column:first-child .button-container button,
  .projects header .flex-column:first-child .button-container button,
  .contact header .flex-column:first-child .button-container button {
    font-weight: 600;
    border-radius: 0.6rem;
  }
  .home header .flex-column:first-child .button-container button:nth-child(2),
  .about header .flex-column:first-child .button-container button:nth-child(2),
  .projects header .flex-column:first-child .button-container button:nth-child(2),
  .contact header .flex-column:first-child .button-container button:nth-child(2) {
    background: #fcfcfc;
  }
  .home header .flex-column:first-child .button-container button:nth-child(2):hover,
  .about header .flex-column:first-child .button-container button:nth-child(2):hover,
  .projects header .flex-column:first-child .button-container button:nth-child(2):hover,
  .contact header .flex-column:first-child .button-container button:nth-child(2):hover {
    color: #ffb703;
  }
  .home header .flex-column:nth-child(3),
  .about header .flex-column:nth-child(3),
  .projects header .flex-column:nth-child(3),
  .contact header .flex-column:nth-child(3) {
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 1;
    height: 100%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .home header,
  .about header,
  .projects header,
  .contact header {
    flex-direction: column;
  }
  .home header .flex-column:first-child,
  .about header .flex-column:first-child,
  .projects header .flex-column:first-child,
  .contact header .flex-column:first-child {
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 60%;
  }
  .home header .flex-column:first-child .button-container,
  .about header .flex-column:first-child .button-container,
  .projects header .flex-column:first-child .button-container,
  .contact header .flex-column:first-child .button-container {
    align-items: flex-start;
    width: 100%;
  }
  .home header .flex-column:first-child .button-container button,
  .about header .flex-column:first-child .button-container button,
  .projects header .flex-column:first-child .button-container button,
  .contact header .flex-column:first-child .button-container button {
    width: 50%;
  }
  .home header .flex-column:nth-child(3),
  .about header .flex-column:nth-child(3),
  .projects header .flex-column:nth-child(3),
  .contact header .flex-column:nth-child(3) {
    height: inherit;
  }
  .home header .flex-column:nth-child(3) img,
  .about header .flex-column:nth-child(3) img,
  .projects header .flex-column:nth-child(3) img,
  .contact header .flex-column:nth-child(3) img {
    width: 100%;
  }
  .home::before,
  .about::before,
  .projects::before,
  .contact::before {
    -webkit-clip-path: circle(50% at 50% 100%);
            clip-path: circle(50% at 50% 100%);
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .home header .flex-column:first-child .button-container,
  .about header .flex-column:first-child .button-container,
  .projects header .flex-column:first-child .button-container,
  .contact header .flex-column:first-child .button-container {
    width: 85%;
  }
  .home header .flex-column:nth-child(3) img,
  .about header .flex-column:nth-child(3) img,
  .projects header .flex-column:nth-child(3) img,
  .contact header .flex-column:nth-child(3) img {
    width: 90%;
  }
  .home::before,
  .about::before,
  .projects::before,
  .contact::before {
    -webkit-clip-path: circle(53.1% at 96% 51%);
            clip-path: circle(53.1% at 96% 51%);
  }
}
.about-grid .flex-column {
  flex-direction: row;
  padding: 1rem 1rem;
  border: 2px solid #171717;
}
.about-grid .flex-container:nth-of-type(1) {
  border-right: 2px solid #171717;
}
.about-grid .flex-container:nth-of-type(2) {
  border-right: 2px solid #171717;
}
.about-grid .flex-container {
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
  transform: translateY(30px);
  opacity: 0;
  transition: all ease-in 0.6s;
}
.about-grid .flex-container.active {
  opacity: 1;
  transform: translateY(0px);
  transition: all ease-out 0.6s;
}
.about-grid .flex-container.active .text-container {
  width: 95%;
  margin: 0 auto;
}
.about-grid .flex-container.active .content {
  display: flex;
  margin: 0 auto;
  gap: 2rem;
}
.about-grid .flex-container.active .content h3:nth-child(2) {
  width: -moz-max-content;
  width: max-content;
}

.my-story .flex-column {
  background: #023047;
  color: #fcfcfc;
  padding: 4rem 0 4rem 0;
  align-items: center;
}
.my-story .flex-column h4 {
  color: #fb8500;
}
.my-story .flex-column p {
  width: 60%;
  text-align: center;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.flex-column:nth-child(4) {
  flex-direction: row;
  justify-content: center;
  padding: 5rem 0 5rem;
}
.flex-column:nth-child(4) .content {
  width: 40%;
}
.flex-column:nth-child(4) .content p {
  min-height: 250px;
  opacity: 0;
  transform: translateY(-30px);
  transition: all ease-in 0.6s;
}
.flex-column:nth-child(4) .content p.active {
  opacity: 1;
  transform: translateY(0px);
}

@media (min-width: 479px) {
  .projects header .flex-column:nth-child(3) {
    align-items: center;
    justify-content: center;
  }
  .projects header .flex-column:nth-child(3) img {
    width: 75%;
  }
  .projects .layout-container {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 4rem 0 0 0;
  }
  .projects .layout-container svg {
    font-size: 2rem;
    transition: all ease-in-out 0.3s;
  }
  .projects .layout-container svg:hover, .projects .layout-container svg:focus {
    transform: scale(1.5);
  }
  .projects .card {
    min-height: 500px;
  }
  .projects .card .jobi,
  .projects .card .moviebase,
  .projects .card .heart-sync,
  .projects .card .post-it,
  .projects .card .daily-planner {
    width: 75%;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
  }
  .projects .card .jobi .image-container,
  .projects .card .moviebase .image-container,
  .projects .card .heart-sync .image-container,
  .projects .card .post-it .image-container,
  .projects .card .daily-planner .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .projects .card .jobi .image-container img,
  .projects .card .moviebase .image-container img,
  .projects .card .heart-sync .image-container img,
  .projects .card .post-it .image-container img,
  .projects .card .daily-planner .image-container img {
    border-radius: 0.6rem;
    width: 80%;
  }
  .projects .cards .image-container,
  .projects .cards .content,
  .projects .card .image-container,
  .projects .card .content {
    width: 50%;
  }
  .projects .cards .jobi,
  .projects .cards .moviebase,
  .projects .cards .heart-sync,
  .projects .cards .post-it,
  .projects .cards .daily-planner,
  .projects .card .jobi,
  .projects .card .moviebase,
  .projects .card .heart-sync,
  .projects .card .post-it,
  .projects .card .daily-planner {
    transform: translateY(30px);
    opacity: 0;
    transition: all ease-in 0.6s;
  }
  .projects .cards .jobi.active,
  .projects .cards .moviebase.active,
  .projects .cards .heart-sync.active,
  .projects .cards .post-it.active,
  .projects .cards .daily-planner.active,
  .projects .card .jobi.active,
  .projects .card .moviebase.active,
  .projects .card .heart-sync.active,
  .projects .card .post-it.active,
  .projects .card .daily-planner.active {
    opacity: 1;
    transform: translateY(0);
  }
  .projects .cards .icons,
  .projects .card .icons {
    gap: 1rem;
  }
  .projects .cards .icons li,
  .projects .card .icons li {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 600;
    gap: 0.6rem;
    transition: ease-in 200ms;
  }
  .projects .cards .icons li:hover, .projects .cards .icons li:focus,
  .projects .card .icons li:hover,
  .projects .card .icons li:focus {
    transition: ease 600ms;
    transform: translateY(0.4rem);
    cursor: pointer;
  }
  .projects .cards .icons li a,
  .projects .card .icons li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #171717;
  }
  .projects .cards .icons li a svg,
  .projects .card .icons li a svg {
    padding: 0 0 0 0.4rem;
  }
  .projects .cards {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    padding: 0 0 5rem 0;
  }
  .projects .cards .moviebase,
  .projects .cards .post-it {
    flex-direction: row-reverse;
  }
  .projects .cards .jobi,
  .projects .cards .moviebase,
  .projects .cards .heart-sync,
  .projects .cards .post-it,
  .projects .cards .daily-planner {
    display: flex;
    gap: 2rem;
    transform: translateY(30px);
    opacity: 0;
    transition: all ease-in 0.6s;
  }
  .projects .cards .jobi.active,
  .projects .cards .moviebase.active,
  .projects .cards .heart-sync.active,
  .projects .cards .post-it.active,
  .projects .cards .daily-planner.active {
    opacity: 1;
    transform: translateY(0);
  }
  .projects .cards .jobi .image-container,
  .projects .cards .moviebase .image-container,
  .projects .cards .heart-sync .image-container,
  .projects .cards .post-it .image-container,
  .projects .cards .daily-planner .image-container {
    display: flex;
    align-items: center;
  }
  .projects .cards .jobi .image-container img,
  .projects .cards .moviebase .image-container img,
  .projects .cards .heart-sync .image-container img,
  .projects .cards .post-it .image-container img,
  .projects .cards .daily-planner .image-container img {
    border-radius: 0.6rem;
  }
  .projects .cards .jobi .content,
  .projects .cards .moviebase .content,
  .projects .cards .heart-sync .content,
  .projects .cards .post-it .content,
  .projects .cards .daily-planner .content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .projects .cards .jobi .content p,
  .projects .cards .moviebase .content p,
  .projects .cards .heart-sync .content p,
  .projects .cards .post-it .content p,
  .projects .cards .daily-planner .content p {
    font-size: 1.2rem;
  }
  .projects .cards .jobi .content h3,
  .projects .cards .moviebase .content h3,
  .projects .cards .heart-sync .content h3,
  .projects .cards .post-it .content h3,
  .projects .cards .daily-planner .content h3 {
    font-size: 2rem;
    line-height: 1.8;
  }
  .projects .cards .jobi .content .highlighter-third,
  .projects .cards .moviebase .content .highlighter-third,
  .projects .cards .heart-sync .content .highlighter-third,
  .projects .cards .post-it .content .highlighter-third,
  .projects .cards .daily-planner .content .highlighter-third {
    opacity: 0.9;
  }
  .projects .cards .jobi .content .stack,
  .projects .cards .moviebase .content .stack,
  .projects .cards .heart-sync .content .stack,
  .projects .cards .post-it .content .stack,
  .projects .cards .daily-planner .content .stack {
    padding: 1rem 0 0 0;
    display: flex;
    gap: 0.4rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .projects header .flex-column:nth-child(3) img {
    width: 100%;
  }
  .projects .cards {
    width: 95%;
  }
  .projects .card .jobi,
  .projects .card .moviebase,
  .projects .card .post-it,
  .projects .card .heart-sync,
  .projects .card .daily-planner {
    width: 95%;
    gap: 1rem;
  }
  .projects .card .jobi .content p,
  .projects .card .moviebase .content p,
  .projects .card .post-it .content p,
  .projects .card .heart-sync .content p,
  .projects .card .daily-planner .content p {
    font-size: 1.2rem;
  }
}
@media (min-width: 480px) {
  .contact header {
    height: 100dvh;
    flex-direction: row-reverse;
  }
  .contact header .flex-column:nth-child(3) {
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  .contact header .flex-column h5 {
    width: 90%;
  }
  .contact header .flex-column img {
    z-index: 1;
  }
  .contact .mobile {
    display: none;
  }
  .contact .desktop {
    display: block;
  }
  .contact form {
    background: #fb8500;
  }
  .contact form .flex-column {
    width: 60%;
  }
  .contact form .flex-column label {
    font-weight: 600;
  }
  .contact form .flex-column:nth-child(4) {
    flex-direction: column;
    padding: 0;
  }
  .contact form .button-container {
    width: 60%;
    justify-content: flex-end;
  }
  .contact form .button-container button {
    width: 25%;
  }
}
@media (min-width: 480px) {
  .contact-form {
    position: relative;
  }
  .contact-form .waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .form-content {
    position: relative;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
  }
  .form-content::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-color: #ffb703;
  }
  .form-content::after {
    content: "";
    position: absolute;
    z-index: 0;
    inset: 0;
    transform: skewY(-5deg);
    background: #219ebc;
  }
  .form-content h2,
  .form-content h5 {
    z-index: 1;
    padding: 0 4rem 0 4rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffb703;
    width: 100%;
    padding: 5rem 0 5rem 0;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  form .inputs #first-name,
  form .inputs #email {
    font-size: 1.2rem;
  }
  form .inputs label {
    font-size: 1.4rem;
  }
  form .inputs textarea,
  form .inputs input {
    border-radius: 0.4rem;
  }
  form .submit-button {
    display: flex;
    justify-content: flex-end;
    width: 60%;
    padding: 2rem 0 0 0;
  }
  form .submit-button button {
    color: #fcfcfc;
    background: #171717;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.2rem;
    transition: all ease-in-out 0.3s;
  }
  form .submit-button button:hover, form .submit-button button:focus {
    color: #ffb703;
    cursor: pointer;
  }
}
@media (max-width: 479px) {
  .navbar {
    display: none;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  transition: all ease-in-out 0.5s;
}
.navbar.nav__scrolled {
  background-color: #fcfcfc;
  opacity: 1;
  filter: drop-shadow(5px 5px 5px #171717);
  border-radius: 4rem;
  width: 90%;
  margin: 2rem 0 0 5%;
}
.navbar.nav__scrolled:hover, .navbar.nav__scrolled:focus {
  opacity: 1;
  cursor: pointer;
}
.navbar.nav__scrolled ul:nth-of-type(1) li,
.navbar.nav__scrolled ul:nth-of-type(1) a,
.navbar.nav__scrolled ul:nth-of-type(2) li,
.navbar.nav__scrolled ul:nth-of-type(2) a {
  display: flex;
  align-items: center;
}
.navbar.nav__scrolled ul:nth-of-type(1) li:hover, .navbar.nav__scrolled ul:nth-of-type(1) li:focus,
.navbar.nav__scrolled ul:nth-of-type(1) a:hover,
.navbar.nav__scrolled ul:nth-of-type(1) a:focus,
.navbar.nav__scrolled ul:nth-of-type(2) li:hover,
.navbar.nav__scrolled ul:nth-of-type(2) li:focus,
.navbar.nav__scrolled ul:nth-of-type(2) a:hover,
.navbar.nav__scrolled ul:nth-of-type(2) a:focus {
  transform: scale(1.2);
  color: #171717;
}
.navbar ul li {
  font-size: clamp(1rem, 4vw, 1.4rem);
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.navbar ul li.highlighter-white {
  color: #171717;
}
.navbar ul li.highlighter-white::before {
  background: #fcfcfc;
  width: 150%;
  transform: rotate(-3deg);
  bottom: 0;
  right: -1rem;
}
.navbar ul li.highlighter-contrast::before {
  transform: rotate(-3deg);
  width: 150%;
  right: -1rem;
  bottom: -0.2rem;
}
.navbar ul li:hover, .navbar ul li:focus {
  color: #fcfcfc;
}
.navbar ul:nth-of-type(1) {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  align-items: center;
  width: 35%;
}
.navbar a {
  text-decoration: none;
  color: #171717;
  font-size: clamp(2rem, 4vw, 3rem);
  font-family: "Pacifico", sans-serif;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.navbar a:hover, .navbar a:focus {
  color: #fcfcfc;
}
.navbar ul:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 999;
  width: 35%;
}
.navbar ul:nth-of-type(2) li,
.navbar ul:nth-of-type(2) a {
  transition: all ease-in 0.3s;
  z-index: 999;
}
.navbar ul:nth-of-type(2) li:hover, .navbar ul:nth-of-type(2) li:focus,
.navbar ul:nth-of-type(2) a:hover,
.navbar ul:nth-of-type(2) a:focus {
  color: #fcfcfc;
}

@media (min-width: 480px) {
  footer {
    background: #8ecae6;
    min-height: 400px;
    display: flex;
    align-items: center;
    background-color: #8ecae6;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23fcfcfc' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  }
  footer .wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  footer .wrapper h1 a {
    font-family: "Pacifico", sans-serif;
    color: #171717;
    text-decoration: none;
  }
  footer .wrapper ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  footer .wrapper ul li {
    font-size: 1.6rem;
    font-weight: 600;
  }
  footer .wrapper .socials {
    flex-direction: row;
  }
  footer .wrapper .socials li a {
    color: #171717;
  }
}
@media (max-width: 479px) {
  footer {
    display: none;
  }
}
@media (max-width: 479px) {
  .home {
    background-color: #fcfcfc;
  }
  .home .flex-column:first-child {
    background-color: #8ecae6;
  }
  .home .socials::after {
    background-color: #ffb703;
  }
  .home .socials::before {
    background-color: #8ecae6;
  }
  .home .flex-column:last-child {
    background-color: #ffb703;
  }
  .home .flex-column:last-child img {
    width: 75%;
  }
}
@media (max-width: 479px) {
  .mobile-nav {
    display: flex;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    position: fixed;
    z-index: 55;
    bottom: 0;
    background-color: #fcfcfc;
  }
  .mobile-nav ul {
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.6rem 0 0.6rem 0;
  }
  .mobile-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .mobile-nav ul li:hover, .mobile-nav ul li:focus {
    color: #8ecae6;
  }
  .mobile-nav ul li h5,
  .mobile-nav ul li svg {
    font-size: 1rem;
  }
}
@media (min-width: 480px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 479px) {
  .about {
    width: 100%;
  }
  .about header {
    background-color: #fcfcfc;
  }
  .about header .flex-column:first-child {
    background-color: #fb8500;
  }
  .about header .flex-column:first-child .flex-column:nth-child(3) {
    padding: 0;
    justify-content: flex-end;
    background: pink;
  }
  .about header .socials::after {
    background-color: #8ecae6;
  }
  .about header .socials::before {
    background-color: #fb8500;
  }
  .about header .flex-column:last-child {
    background-color: #8ecae6;
  }
  .about header .flex-column:last-child img {
    width: 75%;
  }
  .about .my-story .flex-column p {
    width: 95%;
  }
  .about .about-grid {
    width: 100%;
    padding-top: 7%;
  }
  .about .about-grid .flex-column {
    padding: 0;
    border: 0px 2px 2px 2px solid #171717;
    flex-wrap: wrap;
  }
  .about .about-grid .flex-column .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .about .about-grid .flex-column .flex-container .content {
    display: flex;
    gap: 1rem;
    margin: 0.8rem 0 0 0;
  }
  .about .about-grid .flex-column .text-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #171717;
  }
  .about .about-grid .flex-column .text-container p {
    width: 100%;
    text-align: center;
  }
  .about .flex-column:nth-child(3) {
    align-items: center;
    padding: 2rem 0 0rem 0;
    gap: 1rem;
    justify-content: flex-end;
    background: #023047;
  }
  .about .flex-column:nth-child(3) h4 {
    color: #fb8500;
  }
  .about .flex-column:nth-child(3) p {
    color: #fcfcfc;
    width: 100%;
  }
  .about .flex-column:nth-child(4) {
    align-items: center;
    padding: 0;
    flex-direction: column;
  }
  .about .flex-column:nth-child(4) .content {
    border: 2px solid #171717;
    width: 100%;
  }
  .about .flex-column:nth-child(4) .content p {
    min-height: 150px;
  }
  .about .flex-column:nth-child(4) .content .image-container {
    height: 200px;
    background-color: #ffb703;
    border-bottom: 2px solid #171717;
  }
  .about .flex-column:nth-child(4) .content .image-container:nth-child(1) {
    background-color: #219ebc;
  }
  .about .flex-column:nth-child(4) .content .container {
    padding: 1rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .about header .flex-column:first-child {
    min-height: 45%;
    gap: 0.6rem;
  }
  .about header .flex-column:first-child .button-container {
    width: 60%;
  }
  .about-grid .flex-column {
    flex-direction: column;
    padding: 0;
    min-height: 180px;
  }
  .about-grid .flex-column .flex-container {
    width: 100%;
    border-bottom: 2px solid #171717;
  }
  .my-story .flex-column p {
    width: 85%;
  }
  .flex-column:nth-child(4) {
    width: 100%;
    flex-wrap: wrap;
  }
  .flex-column:nth-child(4) .content {
    width: 95%;
  }
  .flex-column:nth-child(4) .content p {
    min-height: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .about header .flex-column:nth-child(3) img {
    width: 85%;
  }
  .about h3 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.4rem;
  }
}
@media (max-width: 479px) {
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    background-color: #8ecae6;
  }
  .form-content h2,
  .form-content h5 {
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffb703;
    padding: 2rem 0 0 0;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  form .submit-button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 2rem 0 5rem 0;
  }
  form .submit-button button {
    background-color: #171717;
    color: #fcfcfc;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  form .submit-button button:hover, form .submit-button button:focus {
    color: #ffb703;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .form-content {
    flex-direction: column;
    gap: 2rem;
    min-height: 300px;
  }
  form .inputs, form .submit-button {
    width: 90%;
  }
}
@media (max-width: 479px) {
  .projects .layout-container {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0;
  }
  .projects .layout-container svg {
    border: 3px solid #171717;
    border-radius: 50%;
    padding: 0.6rem;
    font-size: 1.6rem;
  }
  .projects header {
    position: relative;
    background-color: #fcfcfc;
  }
  .projects header .flex-column:first-child {
    background-color: #219ebc;
    justify-content: center;
    gap: 1rem;
  }
  .projects header .flex-column:first-child h2,
  .projects header .flex-column:first-child h4 {
    z-index: 5;
  }
  .projects header .socials::after {
    background-color: #8ecae6;
  }
  .projects header .socials::before {
    background-color: #219ebc;
  }
  .projects header .flex-column:last-child {
    background-color: #8ecae6;
  }
  .projects header .flex-column:last-child img {
    width: 75%;
  }
  .projects .jobi li,
  .projects .moviebase li,
  .projects .heart-sync li,
  .projects .post-it li,
  .projects .daily-planner li {
    display: flex;
    gap: 0.2rem;
  }
  .projects .jobi li a,
  .projects .moviebase li a,
  .projects .heart-sync li a,
  .projects .post-it li a,
  .projects .daily-planner li a {
    display: flex;
    align-items: center;
    color: #171717;
    text-decoration: none;
    gap: 0.4rem;
    font-size: 1.4rem;
  }
  .projects .jobi li a svg,
  .projects .moviebase li a svg,
  .projects .heart-sync li a svg,
  .projects .post-it li a svg,
  .projects .daily-planner li a svg {
    color: #171717;
  }
  .projects .card .image-container img {
    filter: drop-shadow(-5px 5px 5px #171717);
  }
  .projects .cards .jobi,
  .projects .cards .moviebase,
  .projects .cards .heart-sync,
  .projects .cards .post-it,
  .projects .cards .daily-planner,
  .projects .card .jobi,
  .projects .card .moviebase,
  .projects .card .heart-sync,
  .projects .card .post-it,
  .projects .card .daily-planner {
    transform: translateY(30px);
    opacity: 0;
    transition: all ease-in 0.6s;
  }
  .projects .cards .jobi.active,
  .projects .cards .moviebase.active,
  .projects .cards .heart-sync.active,
  .projects .cards .post-it.active,
  .projects .cards .daily-planner.active,
  .projects .card .jobi.active,
  .projects .card .moviebase.active,
  .projects .card .heart-sync.active,
  .projects .card .post-it.active,
  .projects .card .daily-planner.active {
    opacity: 1;
    transform: translateY(0);
  }
  .projects .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .projects .cards .icons li {
    font-size: 1.2rem;
  }
  .projects .cards .icons li a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
  }
  .projects .cards .icons li a svg {
    color: #171717;
  }
  .projects .image-container {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem 0.8rem 0rem 5rem;
  }
  .projects .image-container img {
    width: 60%;
    border-radius: 1rem;
    transition: all ease-in 0.3s;
    cursor: pointer;
  }
  .projects .image-container img:hover, .projects .image-container img:focus {
    width: 65%;
  }
  .projects ul {
    gap: 0.6rem;
  }
  .projects h3 {
    padding: 0 0 1rem 0;
  }
  .projects .content {
    padding: 0 1rem;
    align-items: flex-start;
  }
  .projects .jobi {
    border: 2px solid #fb8500;
    border-radius: 1rem;
  }
  .projects .jobi .image-container {
    background-color: #fb8500;
  }
  .projects .jobi li {
    color: #ffb703;
  }
  .projects .moviebase {
    border: 2px solid #8ecae6;
    border-radius: 1rem;
  }
  .projects .moviebase .image-container {
    background-color: #8ecae6;
  }
  .projects .moviebase li {
    color: #8ecae6;
  }
  .projects .heart-sync {
    border: 2px solid #023047;
    border-radius: 1rem;
  }
  .projects .heart-sync .image-container {
    background-color: #023047;
  }
  .projects .heart-sync li {
    color: #023047;
  }
  .projects .post-it {
    border: 2px solid #219ebc;
    border-radius: 1rem;
  }
  .projects .post-it .image-container {
    background-color: #219ebc;
  }
  .projects .post-it li {
    color: #219ebc;
  }
  .projects .daily-planner {
    border: 2px solid #ffb703;
    border-radius: 1rem;
  }
  .projects .daily-planner .image-container {
    background-color: #ffb703;
  }
  .projects .daily-planner li {
    color: #ffb703;
  }
}
@media (max-width: 479px) {
  .contact header {
    position: relative;
    background-color: #fcfcfc;
  }
  .contact header .flex-column:first-child {
    background-color: #8ecae6;
  }
  .contact header .socials {
    background-color: #fb8500;
  }
  .contact header .socials::after {
    background-color: #ffb703;
  }
  .contact header .socials::before {
    background-color: #8ecae6;
  }
  .contact header .flex-column:last-child {
    background-color: #ffb703;
  }
  .contact header .flex-column:last-child h2 {
    display: none;
  }
  .contact header .flex-column:last-child img {
    width: 75%;
  }
  .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    padding-bottom: 15%;
    background: #fb8500;
  }
  .contact form .flex-column {
    gap: 0.4rem;
    width: 90%;
  }
  .contact form .flex-column label {
    padding: 0.6rem 0 0 0;
    font-weight: 600;
  }
  .contact form .flex-column label .required {
    color: #fb8500;
    padding: 0 0 0 0.4rem;
  }
  .contact form .flex-column:nth-child(4) {
    flex-direction: column;
    padding: 0;
  }
  .contact form .button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 0;
  }
  .contact form .button-container button {
    color: #fcfcfc;
    background-color: #171717;
    width: -moz-max-content;
    width: max-content;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    font-weight: 600;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .contact form .button-container button:hover, .contact form .button-container button:focus {
    color: #ffb703;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .contact header {
    flex-direction: column-reverse;
  }
  .contact header .flex-column:nth-child(3) {
    min-height: 50%;
    width: 95%;
    gap: 1.8rem;
  }
  .contact header .flex-column:nth-child(3) h2, .contact header .flex-column:nth-child(3) h5:nth-child(4) {
    margin: 0 auto;
  }
  .contact header .flex-column:nth-child(3) h5 {
    font-size: 1.2rem;
    width: 100%;
  }
  .contact header .flex-column:first-child {
    justify-content: flex-end;
    min-height: 30%;
  }
  .contact header .flex-column:first-child img {
    width: 75%;
  }
  .contact form .flex-column:nth-child(4) {
    padding: 0;
  }
  .contact form .flex-column, .contact form .button-container {
    width: 85%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .contact form .flex-column {
    width: 80%;
  }
  .contact header .flex-column {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact header .flex-column img {
    width: 85%;
  }
}
@media (max-width: 479px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar ul:nth-of-type(2) {
    justify-content: space-between;
  }
  .navbar ul:nth-of-type(2) li a svg {
    font-size: 1.4rem;
  }
  .navbar, .navbar.nav__scrolled {
    justify-content: space-evenly;
  }
  .navbar.nav__scrolled {
    width: 99%;
  }
  .navbar.nav__scrolled a {
    font-size: 1.4rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    justify-content: space-evenly;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .navbar {
    justify-content: space-evenly;
  }
  .navbar ul li {
    font-size: 1rem;
  }
  .navbar.nav__scrolled {
    margin: 2rem 0 0 0.2rem;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer .wrapper {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  footer .wrapper ul {
    flex-direction: row;
  }
  footer .wrapper ul:nth-child(3), footer .wrapper ul:nth-child(2) {
    width: 80%;
    justify-content: space-between;
  }
  footer .wrapper .socials li a svg {
    font-size: 1.6rem;
  }
}/*# sourceMappingURL=style.css.map */