body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
  scroll-behavior: smooth;
  color: #171717;
  background-color: #fcfcfc;
  width: 100%;
  max-width: 1580px;
}

.cursive-text {
  font-family: "Pacifico", sans-serif;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

input,
textarea {
  outline: none;
}

.highlighter-prim,
.highlighter-accent,
.highlighter-third,
.highlighter-contrast,
.highlighter-second {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.highlighter-prim::before,
.highlighter-accent::before,
.highlighter-third::before,
.highlighter-contrast::before,
.highlighter-second::before {
  content: "";
  position: absolute;
  height: 1rem;
  width: 100%;
  bottom: 0.4rem;
  opacity: 0.85;
  z-index: -1;
  filter: blur(2px);
  transform: rotate(-1deg);
}

.highlighter-prim::before {
  background-color: #8ecae6;
}

.highlighter-second::before {
  background-color: #219ebc;
}

.highlighter-accent::before {
  background-color: #ffb703;
}

.highlighter-contrast::before {
  background-color: #fb8500;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: clamp(2.2rem, 4vw, 3.2rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}

h3 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
}

h4 {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
}

h5 {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
}

p {
  font-size: clamp(1rem, 4vw, 1.6rem);
}

@media (max-width: 479px) {
  header {
    height: 100svh;
    width: 100%;
    background: #ffb703;
  }
  header .header-grid {
    height: 100%;
    display: grid;
    grid-column: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  header .header-grid .header-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffb703;
  }
  header .header-grid .header-image img {
    width: 75%;
  }
  header .header-grid .header-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #8ecae6;
  }
  header .header-grid .header-content .headings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 75%;
  }
  header .header-grid .header-content .headings-container .flex {
    align-items: center;
    gap: 1rem;
  }
  header .header-grid .header-content .headings-container .flex h2 {
    z-index: 5;
  }
  header .header-grid .header-content .headings-container .flex svg {
    font-size: 1.6rem;
  }
  header .header-grid .header-content h2 {
    font-size: 2.2rem;
  }
  header .header-grid .header-content .cursive-text {
    z-index: 20;
  }
  header .header-grid .header-content .header-buttons {
    display: flex;
    gap: 0.6rem;
    width: 75%;
    align-items: center;
    justify-content: center;
  }
  header .header-grid .header-content .header-buttons button {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    width: 100%;
    cursor: pointer;
    font-family: "Jost", sans-serif;
    transition: all ease-in-out 0.3s;
  }
  header .header-grid .header-content .header-buttons button:hover, header .header-grid .header-content .header-buttons button:focus {
    transform: translateY(0.6rem);
  }
  header .header-grid .header-content .header-buttons button:first-child {
    color: #fcfcfc;
    background-color: #171717;
  }
  header .header-grid .header-content .header-buttons button:first-child:hover, header .header-grid .header-content .header-buttons button:first-child:focus {
    color: #ffb703;
  }
  header .header-grid .header-content .header-buttons button:nth-child(2) {
    color: #171717;
    background-color: #ffb703;
  }
  header .header-grid .header-content .header-buttons button:nth-child(2):hover, header .header-grid .header-content .header-buttons button:nth-child(2):focus {
    color: #fcfcfc;
  }
}
@media (max-width: 479px) {
  .mobile-nav {
    display: flex;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    position: relative;
    background-color: #fcfcfc;
  }
  .mobile-nav ul {
    width: 100%;
    justify-content: space-around;
    align-items: flex-end;
    padding: 0.6rem 0 0.6rem 0;
  }
  .mobile-nav ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
  }
  .mobile-nav ul li:hover, .mobile-nav ul li:focus {
    color: #8ecae6;
  }
  .mobile-nav ul li h5,
  .mobile-nav ul li svg {
    font-size: 1rem;
  }
  .mobile-nav ul .alex-logo {
    position: absolute;
    top: 0;
    left: 50%;
  }
}
@media (max-width: 479px) {
  .about header {
    background-color: #ffb703;
  }
  .about header .header-content {
    background-color: #ffb703;
  }
  .about header .header-content h2 {
    z-index: 5;
  }
  .about .flex-column {
    border: 2px 2px 0 2px solid #171717;
  }
  .about .flex-column .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about .flex-column .flex-container .content {
    display: flex;
    gap: 1rem;
  }
  .about .flex-column .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #171717;
  }
  .about .flex-column .text-container p {
    width: 90%;
  }
  .about .flex-column:nth-child(3) {
    align-items: center;
    padding: 2rem 0 2rem 0;
    gap: 1rem;
    background: #023047;
  }
  .about .flex-column:nth-child(3) h4 {
    color: #fb8500;
  }
  .about .flex-column:nth-child(3) p {
    color: #fcfcfc;
    width: 90%;
  }
  .about .flex-column:nth-child(4) {
    align-items: center;
    padding: 2rem 0 2rem 0;
    gap: 2rem;
  }
  .about .flex-column:nth-child(4) .content {
    border: 2px solid #171717;
    width: 90%;
  }
  .about .flex-column:nth-child(4) .content .image-container {
    height: 200px;
    background-color: #ffb703;
    border-bottom: 2px solid #171717;
  }
  .about .flex-column:nth-child(4) .content .image-container:nth-child(1) {
    background-color: #219ebc;
  }
  .about .flex-column:nth-child(4) .content .container {
    padding: 1rem;
  }
}
@media (max-width: 479px) {
  .form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 400px;
    background-color: #8ecae6;
  }
  .form-content h2,
  .form-content h5 {
    width: 90%;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffb703;
    padding: 2rem 0 0 0;
  }
  form .inputs {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  form .inputs label {
    font-size: 1rem;
    color: #171717;
    padding: 0.2rem 0 0.4rem 0;
  }
  form .inputs input {
    color: #868e96;
    padding: 0.4rem 0 0.4rem 0.4rem;
  }
  form .inputs input,
  form .inputs textarea {
    border: none;
    border-radius: 0.2rem;
    border: 2px solid transparent;
    cursor: pointer;
  }
  form .inputs input:hover, form .inputs input:focus,
  form .inputs textarea:hover,
  form .inputs textarea:focus {
    border: 2px solid #171717;
  }
  form .submit-button {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    padding: 2rem 0;
  }
  form .submit-button button {
    background-color: #171717;
    color: #fcfcfc;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
  }
  form .submit-button button:hover, form .submit-button button:focus {
    color: #ffb703;
  }
}/*# sourceMappingURL=style.css.map */