 
@media (min-width: 480px) and (max-width: 768px) {

    footer {
        .wrapper {
            flex-direction: column-reverse;
            gap: 2rem;
            ul {
                flex-direction: row;

            }
            ul:nth-child(3), ul:nth-child(2) {
                width: 80%;
                justify-content: space-between
            }
            .socials {
                li {
                    
                    a {
                        svg {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}



