@media (max-width: 479px) {
  .home {
    
  background-color: $white;
  .flex-column:first-child {
    background-color: $primary;
  }
  .socials {
    &::after {
      background-color: $accent;
    }
    &::before {
      background-color: $primary;
    }
  }
  .flex-column:last-child {
    background-color: $accent;
    img {
      width: 75%;
    }
  }
}
 
}
