@media (max-width: 479px) {
  .home,
  .about,
  .projects,
  .contact {
    header {
      height: 100svh;
      .wrapper {
        height: 100%;
      }
        .socials {
            .border {
                a {
                    color: $black;
                    svg {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .flex-column:last-child {
          align-items: center;
          justify-content: center;
          img {
            width: 75%;
            
          }
        }
      .flex-column {
        h2,
        h4,
        h5,
        svg,
        button {
          animation: fadeInUp;
          animation-duration: 1s;
        }
        img {
          animation: fadeInUp;
          animation-duration: 1s;
        }
      }
    }
  }
}
