@media (max-width: 479px) {

  .home,
  .about {
    header {
      .flex-column:first-child {
        .button-container {
          width: 85%;
        }
      }
    }
  }
  .home,
  .about,
  .projects,
  .contact
  .fun-stuff {
    header {
      height: 100svh;
      .wrapper {
        height: 100%;
      }
        .socials {
            .border {
                a {
                    color: $black;
                    svg {
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .flex-column:last-child {
         
          
          img {
            width: 65%;
            
          }
        }
      .flex-column {
         h2 {
            background: none;
          }
        h2,
        h4,
        h5,
        svg,
        button {
          animation: fadeInUp;
          animation-duration: 1s;
        }
        img {
          animation: fadeInUp;
          animation-duration: 1s;
        }
      }
    }
  }
}
