@media (max-width: 479px) {
  .projects {
    .layout-container {
      width: 95%;
      display: flex;
      justify-content: flex-end;
      padding: 2rem 0;
      svg {
        border: 3px solid $black;
        border-radius: 50%;
        padding: 0.6rem;
        font-size: 1.6rem;
      }

    }
    header {
      position: relative;
      background-color: $white;
      .flex-column:first-child {
        background-color: $secondary;
        justify-content: center;
        gap: 1rem;
        h2,
        h4 {
          z-index: 5;
        }
      }
      .socials {
        &::after {
          background-color: $primary;
        }
        &::before {
          background-color: $secondary;
        }
      }
      .flex-column:last-child {
        background-color: $primary;
        img {
          width: 75%;
        }
      }
    }
    .jobi,
      .moviebase,
      .heart-sync,
      .post-it,
      .daily-planner {
        li {
          display: flex;
          gap: 0.2rem;
          a {
            display: flex;
            align-items: center;
            color: $black;
            text-decoration: none;
            
            gap: 0.4rem;
            font-size: 1.4rem;
            svg {
              color: $black;
            }
          }
        }
      }

    .card {
      .image-container {
        img {
          filter: drop-shadow(-5px 5px 5px $black);
        }
      }
    }
    .cards,
    .card {
      .jobi,
      .moviebase,
      .heart-sync,
      .post-it,
      .daily-planner {
        transform: translateY(30px);
        opacity: 0;
        transition: all ease-in 0.6s;
        &.active {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 90%;
      margin: 0 auto;
      padding: 2rem 0;

      .icons {
        li {
          font-size: 1.2rem;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.4rem;
            svg {
              color: $black;
            }
          }
        }
      }
    }
    .image-container {
      min-height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.8rem 0.8rem 0rem 5rem;
      img {
        width: 60%;
        border-radius: 1rem;
        transition: all ease-in 0.3s;
        cursor: pointer;
        &:hover,
        &:focus {
          width: 65%;
        }
      }
    }
    ul {
      gap: 0.6rem;
    }
    h3 {
      padding: 0 0 1rem 0;
    }
    .content {
      padding: 0 1rem;
      align-items: flex-start;
    }
    .jobi {
      border: 2px solid $contrast;
      border-radius: 1rem;
      .image-container {
        background-color: $contrast;
      }
      li {
        color: $accent;
      }
    }
    .moviebase {
      border: 2px solid $primary;
      border-radius: 1rem;
      .image-container {
        background-color: $primary;
      }
      li {
        color: $primary;
      }
    }
    .heart-sync {
      border: 2px solid $third;
      border-radius: 1rem;
      .image-container {
        background-color: $third;
      }
      li {
        color: $third;
      }
    }
    .post-it {
      border: 2px solid $secondary;
      border-radius: 1rem;
      .image-container {
        background-color: $secondary;
      }
      li {
        color: $secondary;
      }
    }
    .daily-planner {
      border: 2px solid $accent;
      border-radius: 1rem;
      .image-container {
        background-color: $accent;
      }
      li {
        color: $accent;
      }
    }
  }
}
