.about-grid {
  .flex-column {
    flex-direction: row;
    padding: 1rem 1rem;
    border: 2px solid $black;
  }
  .flex-container:nth-of-type(1) {
    border-right: 2px solid $black;
  }
  .flex-container:nth-of-type(2) {
    border-right: 2px solid $black;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    transform: translateY(30px);
    opacity: 0;
    transition: all ease-in 0.6s;
    &.active {
      opacity: 1;
      transform: translateY(0px);
      transition: all ease-out 0.6s;
      .text-container {
        width: 95%;
        margin: 0 auto;
      }

      .content {
        display: flex;
        margin: 0 auto;
        gap: 2rem;
        h3:nth-child(2) {
          width: max-content;
        }
      }
    }
  }
}

.my-story {
  .flex-column {
    background: $third;
    color: $white;
    padding: 4rem 0 4rem 0;
    align-items: center;
    h4 {
      color: $contrast;
    }

    p {
      width: 60%;
      text-align: center;
    }
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.flex-column:nth-child(4) {
  flex-direction: row;
  justify-content: center;
  padding: 5rem 0 5rem;

  .content {
    width: 40%;

    p {
      min-height: 250px;
      opacity: 0;
      transform: translateY(-30px);
      transition: all ease-in 0.6s;
      &.active {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}
