$primary: #8ecae6;
$secondary: #219ebc;
$third: #023047;
$accent: #ffb703;
$contrast: #fb8500;
$black: #171717;
$white: #fcfcfc;
$grey: #868e96;

$text: "Jost", sans-serif;
$accent-text: "Pacifico", sans-serif;

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: $text;
  scroll-behavior: smooth;
  color: $black;
  background-color: $white;
  width: 100%;
  max-width: 1580px;
}


footer {
  position: relative;
  bottom: 0;
}

.cursive-text {
  font-family: $accent-text;
}
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
}

img {
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

label {
  
  color: $black;
  padding: 0.2rem 0 0.4rem 0;
}
input, textarea {
  color: $grey;
  padding: 0.4rem 0 0.4rem 0.4rem;
}
input,
textarea {
  border: none;
  border-radius: 0.2rem;
  border: 2px solid transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    border: 2px solid $black;
  }
}

input,
label,
textarea {
  outline: none;
  font-family: inherit;
  font-size: clamp(0.8rem, 4vw, 1.6rem);
}

.highlighter-prim,
.highlighter-accent,
.highlighter-third,
.highlighter-contrast,
.highlighter-second,
.highlighter-black,
.highlighter-white {
  position: relative;
  width: max-content;

  &::before {
    content: "";
    position: absolute;
    height: 1rem;
    width: 100%;
    bottom: 0.4rem;
    opacity: 0.85;
    z-index: -1;
    filter: blur(2px);
    transform: rotate(-1deg);
  }
}

.highlighter-prim {
  &::before {
    background-color: $primary;
  }
}

.highlighter-second {
  &::before {
    background-color: $secondary;
  }
}

.highlighter-accent {
  &::before {
    background-color: $accent;
  }
}

.highlighter-contrast {
  &::before {
    background-color: $contrast;
  }
}

.highlighter-third {
  &::before {
    background-color: $third;
  }
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: clamp(2.2rem, 4vw, 3.2rem);
}

h2 {
  font-size: clamp(2rem, 4vw, 3rem);
}
h3 {
  font-size: clamp(1.8rem, 4vw, 2.4rem);
}

h4 {
  font-size: clamp(1.6rem, 4vw, 2.2rem);
}

h5 {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}
p,
svg {
  font-size: clamp(1.2rem, 4vw, 1.8rem);
}

 .button-container {
          display: flex;
          gap: 0.6rem;
          width: 75%;
          align-items: center;
          justify-content: center;
          padding-top: 1rem;
          button {
            padding: 0.4rem 0.8rem 0.4rem 0.8rem;
            font-size: 1rem;
            border-radius: 0.8rem;
            width: 100%;
            cursor: pointer;
            font-family: $text;
            transition: all ease-in-out 0.3s;
            &:hover,
            &:focus {
              transform: translateY(0.6rem);
            }
          }
          button:first-child {
            color: $white;
            background-color: $black;
            &:hover,
            &:focus {
              color: $accent;
            }
          }
          button:nth-child(2) {
            color: $black;
            background-color: $accent;
            &:hover,
            &:focus {
              color: $white;
            }
          }
       }

.swiper-button-next,
.swiper-button-prev {
  z-index: 999;
}

.prim {
  color: $primary;
}
.accent-color {
  color: $accent;
}
.contrast-color {
  color: $contrast;
}

.second-color {
  color: $secondary
}

.third-color {
  color: $third
}
//////////////////////////////////////////////////
///  put these in header query scss 🍴👇👇👇


@media (max-width: 479px) {


.home header,
.about header,
.projects header,
.contact header {
      height: 100svh;
      
      position: relative;
      .flex-column {
        height: 45%;
        justify-content: center;
        align-items: center;
      }
      
      
      .socials {
        position: relative;
        width: 100%;
        height: 10%;        
        display: flex;
        align-items: center;
        justify-content: center;
       
        z-index: 5;
        &::before {
            content: '';
            position: absolute;
            height: 100%;
            width: 20%;
            // background-color: $accent;
            right: 0;
        }
          &::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 20%;
            // background-color: $contrast;
            left: 0;
        }
        .border {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          background-color: $white;
          width: 100%;
          height: 100%;
          border-radius: 0 4rem 0 4rem;
          z-index: 5;
        
        }
      }
      .flex-column:first-child {
        
        border-radius: 0 0 0 6rem;
        img {
            width: 75%
        };
      }
      .flex-column:last-child {
        // background: $contrast;
        border-radius: 0 6rem 0 0;
        gap: 1rem;
        h5 {
            width: 90%;
            color: $black;
            z-index: 5;
            font-size: 1rem;
            font-weight: 600;
            .white {
                color: $white;
            }
            
            svg {
                padding:  0 0 0 1rem;
            }
        }
        h5:nth-of-type(2) {
            text-align: right;
        }
      }
    }
  }