@media (min-width: 480px) {
  .contact {
    header {
      height: 100dvh;
      flex-direction: row-reverse;
      .flex-column:nth-child(3) {
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
      }
      .flex-column {
        img {
          z-index: 1;
        }
      }
    }
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
    form {
      background: $contrast;
      .flex-column {
        width: 60%;
        label {
          font-weight: 600;
        }
      }
      .flex-column:nth-child(4) {
        flex-direction: column;
      }
      .button-container {
        width: 60%;
        justify-content: flex-end;
        button {
          width: 25%;
        }
      }
    }
  }
}
