@media (min-width: 480px) {
  .contact {
    header {
      height: 100dvh;
      .wrapper {
        flex-direction: row-reverse;
      }
      .flex-column:first-child {
        justify-content: center;
        align-items: center;
        img {
          animation: fadeIn;
          animation-duration: 1s;
          width: 75%;
        }
      }
      .flex-column:nth-child(3) {
        justify-content: center;
        align-items: flex-start;
        gap: 2rem;
      }
      .flex-column {
        h5 {
          width: 90%;
          span {
            color: $white;
          }
        }
        img {
          z-index: 1;
        }
      }
    }
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }
    form {
      background: $contrast;
      .flex-column {
        width: 60%;
        label {
          font-weight: 600;
        }
      }
      .flex-column:nth-child(4) {
        flex-direction: column;
        padding: 0;
      }
      .button-container {
        width: 60%;
        justify-content: flex-end;
        button {
          width: 25%;
        }
      }
    }
  }
}
