@media (min-width: 480px) {
  .contact-form {
    position: relative;
    .waves {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .form-content {
    position: relative;

    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
      background-color: $accent;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: 0;
      inset: 0;
      transform: skewY(-5deg);
      //   background-image: linear-gradient(45deg, $third, $secondary, $primary);
      background: $secondary;
    }
    h2,
    h5 {
      z-index: 1;
      padding: 0 4rem 0 4rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $accent;
    width: 100%;
    padding: 5rem 0 5rem 0;
    .inputs {
      display: flex;
      flex-direction: column;
      width: 60%;
      #first-name,
      #email {
        font-size: 1.2rem;
      }
      label {
        font-size: 1.4rem;
      }
      textarea,
      input {
        border-radius: 0.4rem;
      }
    }
    .submit-button {
      display: flex;
      justify-content: flex-end;
      width: 75%;
      padding: 2rem 0 0 0;
      button {
        color: $white;
        background: $black;
        padding: 1rem 2rem;
        border-radius: 2rem;
        font-size: 1.2rem;
        transition: all ease-in-out 0.3s;
        &:hover,
        &:focus {
          color: $accent;
          cursor: pointer;
        }
      }
    }
  }
}
