@media (min-width: 480px) {
  .form-content {
    background: $primary;
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    h2, h5 {
        padding: 0 4rem 0 4rem;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $accent;
    width: 100%;
    padding: 5rem 0 5rem 0;
    .inputs {
        display: flex;
        flex-direction: column;
        width: 75%;
        #first-name,
        #email {
            font-size: 1.2rem;
        }
        label {
            font-size: 1.4rem;
        }
        textarea,
        input {
            border-radius: .4rem;
        }
    }
    .submit-button {
        display: flex;
        justify-content: flex-end;
        width: 75%;
        padding: 2rem 0 0 0;
        button {
            color: $white;
            background: $black;
            padding: 1rem 2rem;
            border-radius: 2rem;
            font-size: 1.2rem;
            transition: all ease-in-out 0.3s;
            &:hover,
            &:focus {
                color: $accent;
                cursor: pointer;
            }

        }
    }


  }
}
