@media (max-width: 479px) {
  .navbar {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  background-color: transparent;
  position: fixed;
  z-index: 5;
  transition: all ease-in-out 0.5s;

  &.nav__scrolled {
    background-color: $white;

    border-radius: 4rem;
    width: 90%;
    margin: 2rem 0 0 5%;
    
  }

  ul {
    li {
      font-size: clamp(1rem, 4vw, 1.4rem);
      font-weight: 600;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      &:hover,
      &:focus {
        color: $white;
      }
    }
  }

  ul:nth-of-type(1) {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    align-items: center;
    width: 35%;
  }
  a {
    text-decoration: none;
    color: $black;
    font-size: clamp(2rem, 4vw, 3rem);
    font-family: $accent-text;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  ul:nth-of-type(2) {
    // display: grid;
    // grid-template-columns: repeat(5, 1fr);

    // place-items: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    z-index: 999;

    width: 35%;
    li,
    a {
      transition: all ease-in 0.3s;
      z-index: 999;
      &:hover,
      &:focus {
        color: $white;
      }
    }
    // li:nth-of-type(1) {
    //   // grid-column: span 2;
    //   cursor: pointer;
    //   transition: all ease-in-out 0.3s;
    //   &:hover,
    //   &:focus {
    //     color: $white;
    //   }
    // }
    // li {
    //   z-index: 50;
    //   a {
    //     cursor: pointer;
    //     transition: all ease-in-out 0.3s;
    //     &:hover,
    //     &:focus {
    //       color: $white;
    //     }
    //   }
    // }
  }
}
