* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Jost", sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

h1 {
  font-size: 6rem;
  color: #171717;
}
